= stylesheet_link_tag "navigation"
%ul#nav
  %li
    %a{:href => "http://www.script-tutorials.com/"} Home
  %li
    %a.hsubs{:href => "#"} 孙亚飞
    %ul.subs
      %li
        %a{:href => "#"} 测试 1
      %li
        %a{:href => "#"} 测试 2
      %li
        %a{:href => "#"} 测试 3
      %li
        %a{:href => "#"} 测试 4
      %li
        %a{:href => "#"} 测试 5
  %li
    %a.hsubs{:href => "#"} 用户列表
    %ul.subs
      %li
        %a{:href => "#"} Submenu 2-1
      %li
        %a{:href => "#"} Submenu 2-2
      %li
        %a{:href => "#"} Submenu 2-3
      %li
        %a{:href => "#"} Submenu 2-4
      %li
        %a{:href => "#"} Submenu 2-5
      %li
        %a{:href => "#"} Submenu 2-6
      %li
        %a{:href => "#"} Submenu 2-7
      %li
        %a{:href => "#"} Submenu 2-8
  %li
    %a.hsubs{:href => "#"} 文章列表
    %ul.subs
      %li
        %a{:href => "#"} Submenu 3-1
      %li
        %a{:href => "#"} Submenu 3-2
      %li
        %a{:href => "#"} Submenu 3-3
      %li
        %a{:href => "#"} Submenu 3-4
      %li
        %a{:href => "#"} Submenu 3-5
  %li
    %a{:href => "#"} Menu 4
  %li
    %a{:href => "#"} Menu 5
  %li
    %a{:href => "#"} Menu 6
  %li
    %a{:href => "http://www.script-tutorials.com/flying-css3-navigation-menu/"} Back
